.bookmark-main{
  grid-area: bookmark-main;
  border-right: 1px solid;
  border-left: 1px solid;
}

.bookmark-parent{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  grid-template-areas: "home-navigate bookmark-main bookmark-main bookmark-main side-bar";
}

.bookmark-heading{
  margin: 1.5rem 1rem;
  border-bottom: 1px solid;
}

.no-bookmark{
  margin: 1.5rem 1rem;
}