.explore-main{
  grid-area: explore-main;
}

.explore-parent{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas: "home-navigate explore-main explore-main side-bar";
}