.home-navigate{
  grid-area: home-navigate;
}

.main-content{
  grid-area: main-content;
  border-right: 1px solid;
  border-left: 1px solid;
}

.sidebar{
  grid-area: side-bar;
}

.home{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  grid-template-areas: "home-navigate main-content main-content main-content side-bar";
}

.post-icons{
  display: flex;
  justify-content: space-around;
}
button .test2{
  display: none;
}
button:hover .test{
  display: none
}
button:hover .test2{
  display: inline;
}