.home-navigate{
  grid-area: home-navigate;
}

.main-content{
  grid-area: main-content;
}

.sidebar{
  grid-area: side-bar;
}

.home{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas: "home-navigate main-content main-content side-bar";
}