.landing-content{
  grid-area: landing-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing-img{
  grid-area: landing-image;
}

.landing-parent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  grid-template-areas: "landing-content landing-image";
  width: 50%;
  margin: auto;
  margin-top: 4rem;
}

.signup-link:hover{
  text-decoration: underline;
  transition-duration: 500ms;
}

.landing-img img{
  width: 100%;
}

.join-btn{
  width: 100%;
  color: white;
  background-color: #2563eb;
  cursor: pointer;
  font-size: 15px;
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  border: none;
}