
.create-post-btn{
  color: white;
  background-color: #9333ea;
  cursor: pointer;
  font-size: 15px;
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  margin-left: 1rem;
  border: none;
}

.fa-home, .fa-rocket, .fa-bookmark-o, .fa-user-o{
  margin: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: larger;
  display: block;
}

.fa-home:hover, .fa-rocket:hover, .fa-bookmark-o:hover, .fa-user-o:hover{
  box-shadow: 3px 3px 3px #2563eb;
  transition-duration: 200ms;
}

.login-btn{
  color: white;
  background-color: #2563eb;
  cursor: pointer;
  font-size: 15px;
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  border: none;
  margin: 0.5rem 1rem;
}

.login-btn:hover{
  color: #2563eb;
  background-color: white;
  transition-duration: 500ms;
}

.create-post-btn:hover{
  color: #9333ea;
  background-color: white;
  transition-duration: 500ms;
}