.heading-post{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.username{
  display: inline;
  margin: 1rem;
}

.post-parent{
  border-top: 1px solid #2563eb;
  border-bottom: 1px solid #2563eb;
  margin-bottom: 0.1rem;
  padding: 0.8rem;
}

.post-icons .fa-bookmark-o, .fa-heart-o, .fa-heart, .fa-comment-o, .fa-share-alt, .fa-bookmark{
  cursor: pointer;
  font-size: large;
}

.post-icons .fa-bookmark-o{
  margin: 0rem;
  border: none;
  padding: 0;
  font-size: larger;
  display: block;
}

.post-icons .fa-bookmark-o:hover{
  box-shadow: 0px 0px 0px;
}
.fa-ellipsis-v{
  font-size: large;
  text-align: center;
}

.avatar{
  width: 3rem;
}

.avatar img{
  width: 100%;
}