.profile-main{
  grid-area: profile-main;
  border-right: 1px solid;
  border-left: 1px solid;
}

.profile-parent{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  grid-template-areas: "home-navigate profile-main profile-main profile-main side-bar";
}

.avatar-img{
  margin: auto;
  width: 15%;
}

.avatar-img img{
  width: 100%;
}